@import "size.css";

body {
    font-size: 90%;
}

a {
    color: red;
}

#linksbar {
    display: var(--linksbar-display);
    margin-left: var(--linksbar-margin-left);
}

#linkbar2 {
    display: var(--linksbar2-display);
    font-size: 30px;
}

.ri-code-library {
    width: 30px;
}

[settings] {
    font-size: 30px;
    vertical-align: text-bottom;
    padding-bottom: var(--settings-padding-bottom);
}

.hide {
    display: none;
}

.logowords {
    display: none;
    color: white;
    position: absolute;
    background-color: red;
    min-width: 75px;
    overflow-y: scroll;
    height: var(--logowords-height);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tab {
    width: content;
    background-color: #c00000;
    padding-top: 4px;
}

.tab button {
    border: none;
    outline: none;
    float: left;
    color: white;
}

.rc-redcode-logo {
    content: url("./logo/Red-Code-INC-Logo.png");
}

.titlelogo {
    vertical-align: text-bottom;
    width: var(--titlelogo-width);
}

red {
    color: red;
}

#title {
    font-size: var(--title-font-size);
}
